* {
    padding: 0;
    margin: 0;
}

.gameScreen {
    height: 500px;
    width: 400px;
    border: 1px solid black;
    /* this centers the div in the browser */
    margin: auto; 
    margin-top: 20px;
    overflow: hidden;
}

.obstacle {
    width: 50px;
    height: 500px;
    background-color: black;
    position: relative;
    /* this moves the obstacle to the very right of the game screen */
    /* because tubes are coming from the right */
    left: 400px;
    -webkit-animation: rightToLeftMove 1s infinite linear;
}

/* animation for the black obstacle: moving it from right to left infinitely */ 
@-webkit-keyframes rightToLeftMove {
    /* at the start of the animation you want the obstacle to be far right side */
    0%{left:450px}
    /* at the end of the animation you want the obstacle to be far left side(out of sight) */
    100%{left:-50px}
}